
@font-face {
    font-family: "BPG Arial";
    src: url(./assets/font/bpg_arial_2009.ttf) format("opentype");
  }

main {
   /*  width: 100%;
    height: 100%; */
    padding: 90px 196px 184px 200px;
    font-family: "BPG Arial";
}

header,
 .header-top {
    width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header-top span {
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header hr {
    border: 1px solid rgb(96, 91, 91);
    margin-top: 20px;    
}

content {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}

form {
    display: flex;
    flex-direction: column;
    width: 203px;
    height: 50px;
    margin-top: 42px;
}

form label {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #232323;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

section img {
    height: 600px;
    width: 700px;
    left: 650px;
    top: 94px;
    border-radius: 0px;
    position: absolute;
}

 form input {
    width: 300px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.73px;
}

section hr {
    position: absolute;
    width: 250px;
    height: 0px;
    left: 205px;
    top: 500px;
    border: 0.8px solid #000000;
}

.warning {
    margin-top: 280px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    position: absolute;
    width: 14px;
    height: 20.63px;
    left: calc(50% - 14px/2 + 79px);
    bottom: 104.37px;
    /* border: 2.4px solid #232323; */
}